@import url('../../App.css');
header {
    border-bottom: 1px solid gray;
}
.verticalLine {
    width: 1px;
    height: 40px;
    background-color: rgb(210, 210, 210);
}
.first-nav__input-group {
    width: 200px;
    text-align: center;
}
.first-nav__input-group:hover {
    background-color: var(--bg-color-btn-hover--);
}
.cart {
    margin-right: 20px;
    
}
.cart:hover {
    background-color: var(--bg-color-btn-hover--);
}
.authority:hover {
    box-shadow: 1px 1px 2px gray;
}
.authority:active {
    opacity: 0.8;
}
.search-btn {
    margin-right: -36px;
    padding: 10px 12px;
    text-align: center; 
}
.logo img{
    width: 50px;
}

.header__label,
.header__value {
    font-size: 14px;
}