:root{
  --bg-color-btn-hover--: rgba(224, 224, 224, 0.668); 
  --bg-color-body--: whitesmoke;
}


* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
body {
  background-color: var(--bg-color-body--);
}